<section>
  <div class="header-container header-height">
    <div class="logo-container">
      <a href="http://localhost:4200" class="site-logo">
        <img src="assets/img/logo-header.png" alt="Vita Tienda de Cocó March">
      </a>
    </div>
    <span class="spacer"></span>
    <div class="search-container">
      <p-inputGroup>
        <input type="text" pInputText [(ngModel)]="searchtex" placeholder="Buscar productos marcas y mas .." />
        <p-button icon="pi pi-search" class="p-button-warning search-btn-color" (onClick)="searchproduct()"></p-button>
      </p-inputGroup>
    </div>
    <div class="header-button-container">
      <div class="card flex justify-content-center flex-wrap gap-3">
        <i class="pi pi-shopping-cart text-3xl" pBadge value="2"></i>
        <div class="card flex align-items-center gap-2 flex-wrap" (onClick)="opensidebar()">
          <p-chip label="Jose Luis Mesurado"
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" alt="Avatar image" />
          <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
              <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            </div>
          </ng-template>
        </div>
        <p-sidebar [(visible)]="sidebarVisible" position="right">
          <h3>Right Sidebar</h3>
        </p-sidebar>
      </div>
    </div>
  </div>
</section>